:root {
    --color-principal: #3498db;
    --color-secundario: white;
    --radio-esquinas: 10px;
}
.primer-contenedor {
    background-color: var(--color-secundario);
    border: 2px solid black;
    border-radius: var(--radio-esquinas);
    padding: 10px;
}

.texto {
   background-color: var(--color-principal);
   border-radius: var(--radio-esquinas);
   padding: 20px;
   color : var(--color-secundario);
   font-size: 18px;
}