.primer-contenedor {
    position: relative; 
    /* “Me muevo un poco pero sigo ocupando mi espacio”.
    Sirve también como marco de referencia para hijos con absolute. */
}
.caja{
    width: 180px;
    height: 180px;
    background-color: #30B037;
    color: #FFF;
    text-align: center;
    line-height: 180px;
    margin: 15px;
    float: left;
    font-size: 18px;
    font-family: Arial;
}
.caja1{
    background-color: #C0392B;
    transition: background-color 1s linear;
}
.caja1:hover{
    background-color: #3F51B5;
}
.caja2{
    background-color: #9B59B6;
    transition: font-size 1s  ease;
}
.caja2:hover{
    font-size: 28px;
}
.caja3{
    background-color: #2980B9;
    transition: color 1s linear;
}
.caja3:hover{
    color: yellow;
}
.caja4{
    background-color: #3498DB;
    transition: 1s linear;
}
.caja4:hover{
    line-height: 300px;
}
.caja5{
    border-radius: 0px;
    background-color: #17a589;
    transition: 1s linear;
}
.caja5:hover{
    border-radius: 20px;
}