:root{
    --primer-color: #fff;
}
li{
    list-style-type: none; /*Quita las viñetas   */
    padding-left: 0; /*Quita el espacio que queda a la izq*/
    display: inline-block; /*Colocamos cada elemento uno al lado del otro*/
}
a{
    text-decoration: none;
    color: var(--primer-color);
    padding: 10px; /*Espacio interno*/
    display: inline-block; /*Colocamos cada enlace uno al lado del otro*/
    background-color: blue;
    transition: all 0.5s ease;
    background-color: #3498db;
    border-radius: 5px;
}
a:hover{
    background-color: #1f587d;

}