button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  border: none;
  color: white;
  transition: background-color 0.3s ease;
}

button.b1 {
  background-color: #3498db;
}

button.b1:hover {
  background-color: #2e86c1;
}

button.b2 {
  background-color: #27ae60;
}

button.b2:hover {
  background-color: #23954f;
}

button.b3 {
  background-color: #e74c3c;
}

button.b3:hover {
  background-color: #cf4434;
}
