:root {
    --fuente-principal: Arial;
  
}
.primer-contenedor{
    display: flex;
    
}
h1, p {
    font-family: var(--fuente-principal);
}
/* SOMBRA */
.sombra{
    border: 1px solid grey;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
   
}
/* GRADIENTE */
.gradiente{
    border: 1px solid grey;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    background: linear-gradient(to bottom,#3498db, #1f587d);
    color: white;

/* IMAGEN */
}.imagen {
    text-align: left; 
    margin: 20px 0;
}

.imagen h1 {
    margin-bottom: 20px; /* espacio entre título y las imágenes */
}

.imagenes-contenedor {
    display: flex; /* usa flexbox para alinear las imágenes */
    justify-content: center; /* centra las imágenes horizontalmente */
    gap: 20px; /* espacio entre las imágenes */
}

.imagenes-contenedor img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}
/* Sin filtro */
.normal {
    filter: none;
}

/* Filtro 1: escala de grises */
.filtro1 {
    filter: contrast(120%) brightness(80%);
}

/* Filtro 2: invertido y desenfoque */
.filtro2 {
    filter: invert(100%) blur(1px);
}

/* TOOLTIP */
.tooltip {
    margin: 20px;
}

/* H1 alineado a la izquierda */
.tooltip-titulo {
    text-align: left;
    margin-bottom: 10px; /* espacio con el contenido debajo */
}

/* Contenedor del párrafo + icono */
.tooltip-elemento {
    display: inline-flex; /* coloca texto e imagen en la misma línea */
    align-items: center;  /* centra verticalmente icono con texto */
    position: relative;   /* referencia para el tooltip */
    gap: 5px;             /* espacio entre texto y icono */
}

/* Imagen que activa el tooltip */
.tooltip-img {
    width: 20px;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
}

/* Tooltip oculto por defecto */
.tooltip-texto {
    visibility: hidden; /* oculto por defecto */
    width: 220px;
    height: 50px;
    background-color: brown;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    position: absolute;
    top: 50%;       /* centrado vertical respecto al icono */
    left: 100%;     /* justo a la derecha del icono de donde esta situado */
    margin-left: 5px;
    transform: translateY(-50%);

    opacity: 0;
    transition: opacity 0.5s ease; /* transición suave */
}

/* Mostrar tooltip al pasar el cursor sobre la imagen */
.tooltip-img:hover + .tooltip-texto {
    visibility: visible;
    opacity: 1;
}
